<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://bootswatch.com/5/sandstone/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>msg-lad | Your message board</title>
  </head>
  <style>
    .full-viewport{ min-height: calc(100vh - 56px - 210px ) ; } @media
    (max-width: 400px) { .full-viewport{ min-height: calc(100vh - 56px - 250px )
    ; }

  </style>
  <body class="bg-grey text-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">msg-BOARD</a>
        <button
          class="navbar-toggler collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarColor01"
          aria-controls="navbarColor01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbarColor01" style="">
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/api/messages">Home
              </a>
            </li>
            <li class="nav-item">
              <li>
                <a class="nav-link" href="/add">Add a Message</a></li>
            </li>

          </ul>
          <div class="d-flex navbar-nav">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
              >Account</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/users/login">Login</a>
                <a class="dropdown-item" href="/users/logout">Logout</a>
                <div class="dropdown-divider"></div>
                <a
                  class="dropdown-item"
                  href="/account?public=true&private=true"
                >All messages</a>
                <a
                  class="dropdown-item"
                  href="/account?public=false&private=true"
                >Private messages</a>
                <a
                  class="dropdown-item"
                  href="/account?public=true&private=false"
                >Public messages</a>
              </div>
            </li>
          </div>
        </div>
      </div>
    </nav>
    <div style="height: 56px;"></div>
    <div class="container">
      <div class="full-viewport py-5">{{{body}}}</div>
    </div>
  </body>
  <footer
    id="contact"
    class="w-100 d-flex flex-shrink-0 quicksand-font overflow-hidden"
  >
    <div class="container">
      <hr class="bg-danger border-3 border-bottom border-secondary" />
      <div class="mb-3 text-center">
        <div class="justify-content-center">
          <a href="https://github.com/ladzaretti" target="_blank"><i
              class="bi bi-github mx-1 px-2 link-secondary"
            ></i></a>
          <a
            href="https://www.linkedin.com/in/gabriel-ladzaretti
              "
            class="link-secondary"
            target="_blank"
          ><i class="bi bi-linkedin mx-1 px-2"></i></a>
          <a href="mailto:gabriel.ladzaretti@gmail.com"><i
              class="bi bi-envelope-open-fill mx-1 px-2 link-secondary"
            ></i></a>
        </div>
      </div>
      <div class="row pb-4 px-5">
        <p class="small text-muted mb-4 text-center">
          Technologies used to build this site:
          <br />
          Node.js | Express.js | Passport.js | bcrypt.js | connect-flash |
          Handelbars.js | mongoose
        </p>

        <div class="col text-center m-auto">
          <a
            class="small text-decoration-none mb-0 link-secondary"
            href="https://ladzaretti.herokuapp.com/"
          > Gabriel Ladzaretti</a>
          <p class="small text-muted mb-0 text-center">
            2021 &copy; Copyrights. All rights reserved.
          </p>
        </div>
      </div>
    </div>
  </footer>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"
  ></script>
</html>