<div class="row mt-5">
  {{> messages}}
  <div class="row g-4 py-5 justify-content-center">
    {{#each blogs as |blog|}}
      <div class="col-md-6 col-lg-4">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
          <div class="card-header">{{blog.author}}</div>
          <div class="card-body">
            <h4 class="card-title">{{blog.title}}</h4>
            <p class="card-text">{{blog.body}}</p>
          </div>
        </div></div>
    {{/each}}
  </div>
</div>